In [1]:
import pandas as pd

In [8]:
df_221Q_label = pd.read_excel('22_1Q.XLSX')

In [9]:
df_221Q_label['종목명'].nunique()

2382

In [42]:
grouped = df_221Q_label.groupby(['종목코드','종목명'])[['최저가(종가)', '최고가(종가)']].agg(['min', 'max']).reset_index()

In [43]:
grouped

        종목코드         종목명 최저가(종가)        최고가(종가)
                             min    max     min    max
0     000020        동화약품    9050  12400   11900  13400
1     000040       KR모터스     600    817     784    890
2     000050          경방   10600  15700   14900  17000
3     000070       삼양홀딩스   70800  83500   81100  89900
4     000075      삼양홀딩스우   57300  62000   62900  65800
...      ...         ...     ...    ...     ...    ...
2377  950170         JTC    2700   3350    3750   4830
2378  950190     고스트스튜디오   14300  19250   17600  20950
2379  950200         소마젠    4775   6210    6140   7200
2380  950210  프레스티지바이오파마   10300  16700   13150  19300
2381  950220       네오이뮨텍    3650   6690    6220   8540

[2382 rows x 6 columns]

In [6]:
# Group the data by '종목명' and calculate min, max, and difference
grouped = df_221Q_label.groupby('종목명')['최고가(종가)','최저가(종가)'].agg(['min', 'max', lambda x: x.max() - x.min()]).reset_index()


# Display the resulting DataFrame
grouped

ValueError: Cannot subset columns with a tuple with more than one element. Use a list instead.

In [50]:
agg_functions = {'최저가(종가)': 'min', '최고가(종가)': 'max'}
grouped = df_221Q_label.groupby(['종목명', '종목코드']).agg(agg_functions).reset_index()

# Rename columns for clarity
grouped.columns = ['종목명', '종목코드', '최저가', '최고가']

# Print the result
grouped['등락률'] = grouped['최고가']-grouped['최고가']

In [55]:
grouped['등락률'] = (grouped['최고가'] - grouped['최저가']) / grouped['최저가']

In [62]:
sum(grouped['등락률']>0.5)

1171

In [72]:
label = grouped[['종목명','종목코드','등락률']]

In [73]:
label['등락률'] = label['등락률']*100

C:\Users\dochy\AppData\Local\Temp\ipykernel_2352\85395496.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  label['등락률'] = label['등락률']*100

In [74]:
label

         종목명    종목코드        등락률
0         3S  060310  30.411449
1     AJ네트웍스  095570  17.045455
2      AK홀딩스  006840  58.199357
3        APS  054620  64.144354
4      AP시스템  265520  50.464396
...      ...     ...        ...
2377    흥국화재  000540  39.032258
2378   흥국화재우  000545  31.024531
2379    흥아해운  003280  59.798995
2380      희림  037440  87.698413
2381      힘스  238490  56.440678

[2382 rows x 3 columns]

In [99]:
data = pd.read_csv('C:/Users/dochy/Desktop/고려대/딥러닝/project/.vscode/data.csv')

In [100]:
data

,회사명,당기_유동자산,당기_비유동자산,당기_자본,당기_유동부채,당기_비유동부채,당기_부채 및 자본총계,당기_부채총계,당기_자산총계,유동비율,자기자본비율,종목코드
0,3S,2.476527e+10,4.119151e+10,4.588854e+10,1.764336e+10,2.424885e+09,6.595678e+10,2.006824e+10,6.595678e+10,1.403660,0.695737,[060310]
1,AJ네트웍스,2.037299e+11,1.186349e+12,3.887301e+11,7.333065e+11,2.680423e+11,1.390079e+12,1.001349e+12,1.390079e+12,0.277824,0.279646,[095570]
2,AK홀딩스,7.548319e+10,8.567521e+11,5.510517e+11,3.811627e+11,2.081565e+07,9.322353e+11,3.811836e+11,9.322353e+11,0.198034,0.591108,[006840]
3,APS,5.087194e+10,2.245058e+11,1.818026e+11,7.086811e+10,2.270707e+10,2.753778e+11,9.357518e+10,2.753778e+11,0.717840,0.660193,[054620]
4,AP시스템,3.922670e+11,1.513681e+11,2.765309e+11,2.120491e+11,5.505503e+10,5.436351e+11,2.671041e+11,5.436351e+11,1.849887,0.508670,[265520]
...,...,...,...,...,...,...,...,...,...,...,...,...
2266,흥국,5.743732e+10,4.065163e+10,7.946346e+10,1.528045e+10,3.345051e+09,9.808896e+10,1.862550e+10,9.808896e+10,3.758877,0.810116,[010240]
2267,흥국에프엔비,4.154375e+10,1.470849e+11,8.681026e+10,3.112410e+10,7.069427e+10,1.886286e+11,1.018184e+11,1.886286e+11,1.334777,0.460218,[189980]
2268,흥아해운,8.189277e+10,2.196050e+11,1.373912e+11,4.865131e+10,1.154552e+11,3.014978e+11,1.641065e+11,3.014978e+11,1.683259,0.455696,[003280]
2269,희림,1.436306e+11,4.889646e+10,6.566610e+10,1.081137e+11,1.874723e+10,1.925270e+11,1.268609e+11,1.925270e+11,1.328514,0.341075,[037440]
2270,힘스,2.999778e+10,5.024690e+10,5.940935e+10,1.891705e+10,1.918279e+09,8.024468e+10,2.083533e+10,8.024468e+10,1.585753,0.740353,[238490]

In [101]:
data['종목코드'] = data['종목코드'].str.replace('[', '').str.replace(']', '')

In [102]:
BS_2022_1Q = pd.merge(data,label, on='종목코드', how='inner')

In [106]:
del BS_2022_1Q['종목명']

In [108]:
del BS_2022_1Q['종목코드']

In [130]:
BS_2022_1Q['class'] = BS_2022_1Q['등락률'].apply(lambda x: 1 if x >= 50 else (3 if x < 0.5 else 0))

In [132]:
BS_2022_1Q.to_csv('BS_2022_1Q.csv', index=False)

In [121]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [133]:
test = BS_2022_1Q.drop(['회사명', '등락률', '유동비율'], axis=1)
test.dropna(inplace=True)
X = test.drop('class', axis=1)
y = test['class']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [136]:
model = LogisticRegression()
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model's accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.2f}')

Accuracy: 0.64