In [12]:
import pandas as pd

In [15]:
df_221Q_label = pd.read_excel('22_1Q.XLSX')
df_231Q_label = pd.read_excel('23_1Q.XLSX')

In [16]:
df_221Q_label['종목명'].nunique()
df_231Q_label['종목명'].nunique()

2530

In [43]:
grouped_1 = df_221Q_label.groupby(['종목코드','종목명'])[['최저가(종가)', '최고가(종가)']].agg(['min', 'max']).reset_index()
grouped_2 = df_231Q_label.groupby(['종목코드','종목명'])[['최저가(종가)', '최고가(종가)']].agg(['min', 'max']).reset_index()

In [44]:
grouped_2

        종목코드          종목명 최저가(종가)        최고가(종가)
                              min    max     min    max
0     100030        인지소프트   19840  21000   22150  23650
1     100090      SK오션플랜트   19010  19590   20100  21800
2     100120          뷰웍스   30100  32700   34750  37000
3     100130        동국S&C    4030   4400    4465   5130
4     100220         비상교육    5190   5590    5620   6820
...      ...          ...     ...    ...     ...    ...
2525  37550K       DL이앤씨우   19910  20550   20600  21450
2526  37550L  DL이앤씨2우(전환)   22700  25100   25000  26450
2527  38380K      LX홀딩스1우   10180  10510   10560  14150
2528  45014K   코오롱모빌리티그룹우    8850   9960   10470  13580
2529  45226K      한화갤러리아우    6100  11060    8120  17300

[2530 rows x 6 columns]

In [45]:
agg_functions = {'최저가(종가)': 'min', '최고가(종가)': 'max'}
grouped_1 = df_221Q_label.groupby(['종목명', '종목코드']).agg(agg_functions).reset_index()
grouped_2 = df_231Q_label.groupby(['종목명', '종목코드']).agg(agg_functions).reset_index()

# Rename columns for clarity
grouped_1.columns = ['종목명', '종목코드', '최저가', '최고가']
grouped_2.columns = ['종목명', '종목코드', '최저가', '최고가']

# Print the result
grouped_1['등락률'] = grouped_1['최고가']-grouped_1['최고가']
grouped_2['등락률'] = grouped_2['최고가']-grouped_2['최고가']

In [54]:
grouped_1['등락률'] = (grouped_1['최고가'] - grouped_1['최저가']) / grouped_1['최저가']
grouped_2['등락률'] = (grouped_2['최고가'] - grouped_2['최저가']) / grouped_2['최저가']

In [55]:
sum(grouped_2['등락률']>0.3)

1050

In [56]:
label_1 = grouped_1[['종목명','종목코드','등락률']]
label_2 = grouped_2[['종목명','종목코드','등락률']]

In [58]:
label_2

         종목명    종목코드       등락률
0         3S  060310  0.471292
1     AJ네트웍스  095570  0.171563
2      AK홀딩스  006840  0.171617
3        APS  054620  0.685876
4      AP시스템  265520  0.173549
...      ...     ...       ...
2525    흥국화재  000540  0.172920
2526   흥국화재우  000545  0.133945
2527    흥아해운  003280  0.627106
2528      희림  037440  0.171429
2529      힘스  238490  0.392157

[2530 rows x 3 columns]

In [59]:
data = pd.read_csv('C:/Users/dochy/Desktop/고려대/딥러닝/project/.vscode/data.csv')

In [60]:
data

,회사명,당기_유동자산,당기_비유동자산,당기_자본,당기_유동부채,당기_비유동부채,당기_부채 및 자본총계,당기_부채총계,당기_자산총계,유동비율,자기자본비율,종목코드
0,3S,2.476527e+10,4.119151e+10,4.588854e+10,1.764336e+10,2.424885e+09,6.595678e+10,2.006824e+10,6.595678e+10,1.403660,0.695737,[060310]
1,AJ네트웍스,2.037299e+11,1.186349e+12,3.887301e+11,7.333065e+11,2.680423e+11,1.390079e+12,1.001349e+12,1.390079e+12,0.277824,0.279646,[095570]
2,AK홀딩스,7.548319e+10,8.567521e+11,5.510517e+11,3.811627e+11,2.081565e+07,9.322353e+11,3.811836e+11,9.322353e+11,0.198034,0.591108,[006840]
3,APS,5.087194e+10,2.245058e+11,1.818026e+11,7.086811e+10,2.270707e+10,2.753778e+11,9.357518e+10,2.753778e+11,0.717840,0.660193,[054620]
4,AP시스템,3.922670e+11,1.513681e+11,2.765309e+11,2.120491e+11,5.505503e+10,5.436351e+11,2.671041e+11,5.436351e+11,1.849887,0.508670,[265520]
...,...,...,...,...,...,...,...,...,...,...,...,...
2266,흥국,5.743732e+10,4.065163e+10,7.946346e+10,1.528045e+10,3.345051e+09,9.808896e+10,1.862550e+10,9.808896e+10,3.758877,0.810116,[010240]
2267,흥국에프엔비,4.154375e+10,1.470849e+11,8.681026e+10,3.112410e+10,7.069427e+10,1.886286e+11,1.018184e+11,1.886286e+11,1.334777,0.460218,[189980]
2268,흥아해운,8.189277e+10,2.196050e+11,1.373912e+11,4.865131e+10,1.154552e+11,3.014978e+11,1.641065e+11,3.014978e+11,1.683259,0.455696,[003280]
2269,희림,1.436306e+11,4.889646e+10,6.566610e+10,1.081137e+11,1.874723e+10,1.925270e+11,1.268609e+11,1.925270e+11,1.328514,0.341075,[037440]
2270,힘스,2.999778e+10,5.024690e+10,5.940935e+10,1.891705e+10,1.918279e+09,8.024468e+10,2.083533e+10,8.024468e+10,1.585753,0.740353,[238490]

In [61]:
data['종목코드'] = data['종목코드'].str.replace('[', '').str.replace(']', '')

In [62]:
BS_2023_1Q = pd.merge(data,label_2, on='종목코드', how='inner')

In [63]:
del BS_2023_1Q['종목명']

In [64]:
del BS_2023_1Q['종목코드']

In [69]:
BS_2023_1Q['class'] = BS_2023_1Q['등락률'].apply(lambda x: 1 if x >= 0.3 else (0 if x < 0.3 else 3))

In [70]:
BS_2023_1Q.to_csv('BS_2023_1Q.csv', index=False)

In [72]:
sum(BS_2023_1Q['class']==3)

0

In [73]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
BS_2022_1Q = pd.read_csv('BS_2022_1Q.csv')

In [74]:
test = BS_2023_1Q.drop(['회사명', '등락률', '유동비율'], axis=1)
test.dropna(inplace=True)
X = test.drop('class', axis=1)
y = test['class']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [75]:
model = LogisticRegression()
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model's accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.2f}')

Accuracy: 0.62

In [76]:
import torch 
import torch.nn as nn
import torch.optim as optim

In [77]:
X = test.drop('class', axis=1).values
y = test['class'].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
X_train = torch.tensor(X_train, dtype=torch.float32)
X_test = torch.tensor(X_test, dtype=torch.float32)
y_train = torch.tensor(y_train, dtype=torch.float32)
y_test = torch.tensor(y_test, dtype=torch.float32)

In [78]:
class DNNModel(nn.Module):
    def __init__(self):
        super(DNNModel, self).__init__()
        self.fc1 = nn.Linear(9, 64)  # Adjust input size to 3
        self.fc2 = nn.Linear(64, 32)
        self.fc3 = nn.Linear(32, 1)
        self.sigmoid = nn.Sigmoid()

    def forward(self, x):
        x = torch.relu(self.fc1(x))
        x = torch.relu(self.fc2(x))
        x = self.sigmoid(self.fc3(x))
        return x

In [80]:
# Create the DNN model
model = DNNModel()

#Define the loss function and optimizer
criterion = nn.BCELoss()  # Binary Cross-Entropy Loss
optimizer = optim.Adam(model.parameters(), lr=0.001)

# Train the model
epochs = 2000
for epoch in range(epochs):
    optimizer.zero_grad()
    outputs = model(X_train)
    loss = criterion(outputs, y_train.view(-1, 1))
    loss.backward()
    optimizer.step()

# Evaluate the model on the test set
with torch.no_grad():
    y_pred = model(X_test)
    y_pred = (y_pred >= 0.5).float()  # Convert probabilities to binary predictions

    accuracy = accuracy_score(y_test.numpy(), y_pred.numpy())
    print(f'Accuracy: {accuracy:.2f}')

Accuracy: 0.57